<section class="formheader">
    <h1>Edit a Game</h1>
</section>

<form method="post" class="gameform" action="/profile/edit-game/{{ card._id }}">
    
    <h2>Selected game:</h2>
    <section class="editgames">
        <img src="/public/images/{{ card.game }}.jpg" alt="{{ card.game }}">
        <h3 id="gamecheck" class="{{ card.game }}">{{ card.game }}</h3>
    </section>

    <h3>Your 3 favorite characters:</h3>
    <section class="formchars">

        <select name="char1" id="char1">
            <option value="{{ card.character1 }}">{{ card.character1 }}</option>
            {{#each chars}}
            <option class="{{ this.game }}" value="{{ this.character }}">{{ this.character }}</option>
            {{/each}}
        </select>

        <select name="char2" id="char2">
            <option value="{{ card.character2 }}">{{ card.character2 }}</option>
            {{#each chars}}
            <option class="{{ this.game }}" value="{{ this.character }}">{{ this.character }}</option>
            {{/each}}
        </select>

        <select name="char3" id="char3">
            <option value="{{ card.character3 }}">{{ card.character3 }}</option>
            {{#each chars}}
            <option class="{{ this.game }}" value="{{ this.character }}">{{ this.character }}</option>
            {{/each}}
        </select>

    </section>

    <h3>Your level:</h3>
    <section class="formdata">
        <label for="hours played" id="rank">Hours Played:</label>
        <label for="rank" id="rank">Rank:</label>
        <input name="hoursplayed" type="text" value="{{ card.hoursplayed }}">
        <input name="rank" type="text" value="{{ card.rank }}">
    </section>
    <section class="formbtn">
        <a href="/profile">Cancel</a>
        <input class="submitbtn" type="submit" value="Submit">
    </section>
    
</form>

<section class="formdelete">
        <form action="/profile/delete-game/{{ card._id }}" method="post">
            <input class="deletebtn" type="submit" value="Delete this card">
        </form>
</section>

<script src="/public/js/edit.js"></script>