
<section class="profileheader">
    <img src="/public/images/bg-texture.jpg" alt="">
</section>

<section class="profileinfo">
    <span>
        <img src="/public/images/pfp-placeholder.jpg" alt="">
        <h1>{{ this.user }}</h1>
    </span>
</section>

<section class="gamelist">
    <h3>{{ this.user }}'s games:</h3>

    <ul>
    {{#each card}}
        <li class="{{ this.game }}">
            <h3>{{ this.game }}</h3>

            <img src="/public/images/{{ this.game }}.jpg" alt="">
                
            <span>
                <img src="{{ this.character1img }}" alt="{{ this.character1 }}">
                <img src="{{ this.character2img }}" alt="{{ this.character2 }}">
                <img src="{{ this.character3img }}" alt="{{ this.character3 }}">
            </span>

            <article>
                <p>Total hours:</p>
                <h4>{{ this.hoursplayed }}</h4>
                <p>Rank:</p>
                <h4>{{ this.rank }}</h4>
            </article>

        </li>
    {{/each}}
    </ul>
</section>
